<% layout('layouts/boilerplate')%>
    <div class="container d-flex justify-content-center align-items-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <img src="https://images.unsplash.com/photo-1523240795612-9a054b0db644?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                        alt="" class="card-img-top" />
                    <div class="card-body">
                        <h5 class="card-title">Register</h5>
                        <form action="/register" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" id="username" name="username" required
                                    autofocus>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="row">
                            <div class="mb-3 col-md-6">
                                <label class="form-label" for="program">Program</label>
                                <select class="form-select" name="program" id="program">
                                    <option value="mechatronics-engineering">mechatronics-engineering</option>
                                    <option value="computer-engineering">computer-engineering</option>
                                    <option value="accounting-and-financial-management">accounting-and-financial-management</option>
                                    <option value="electrical-engineering">electrical-engineering</option>
                                    <option value="systems-design-engineering">systems-design-engineering</option>
                                </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label" for="semester">Semester</label>
                                <select class="form-select" name="semester" id="semester">
                                    <option value="1A">1A</option>
                                    <option value="1B">1B</option>
                                </select>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email" name="email" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" id="password" name="password" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <button class="btn btn-success btn-block">Register</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>